{{ define "main" }}

<!-- Running Text -->
{{ $runningText := .Site.Params.running_text }}
{{ if $runningText }}
<div class="w-full max-w-full bg-white p-4 border border-gray-300 shadow rounded">
    <div class="marquee">
        <div class="marquee-text">
            <p class="text-lg font-semibold text-black" style="font-size: 0.9rem;">{{ range $runningText }}{{ .text }}&nbsp;&nbsp;&nbsp;&nbsp;    {{ end }}</p>
        </div>
    </div>
</div>
{{ end }}

    <style>
    .marquee {
        overflow: hidden;
        white-space: nowrap;
        box-sizing: border-box;
    }
    .marquee-text {
        display: inline-block;
        padding-left: 100%;
        animation: marquee 20s linear infinite;
    }

    @keyframes marquee {
        0% { transform: translateX(0); }
        100% { transform: translateX(-100%); }
    }

    /* CSS styling for Swiper */
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }



  .container {
    white-space: nowrap;
  }

  .zoom-in {
    transition: transform 0.3s ease;
  }

  .zoom-in:hover {
    transform: scale(1.1);
  }

</style>
<!-- Swiper -->

{{ $sliderImages := .Site.Params.sliders.images }}

{{ if len $sliderImages }}
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    {{ range $sliderImages }}
      <div class="swiper-slide">
        <img src="sliders/{{ .url }}" alt="Slider Image" style="width:100%">
      </div>
    {{ end }}
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>
{{ end }}
  <!-- Initialize Swiper -->
  <script>
  document.addEventListener('DOMContentLoaded', (event) => {
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });


  });
</script>



<script>
  function scrollRight() {
    const container = document.querySelector('.scroll-content');
    const scrollAmount = 100;
    container.scrollBy({ left: scrollAmount, behavior: 'smooth' });


    if (container.scrollLeft + container.clientWidth >= container.scrollWidth) {
      container.scrollTo({ left: 0, behavior: 'auto' });
    }
  }

  function startAutoScroll() {
    scrollRight();
    setInterval(scrollRight, 1000);
  }

  window.onload = function() {
    startAutoScroll();
  };
</script>
<div class="grid md:grid-cols-1 gap-4 lg:gap-x-16 fade-in bg-white dark:bg-gray-200" id="animateMe">
  <div>
    {{ $frontBundle := .Site.Params.frontBundle | default "berita" }}
    <h2 class="text-2xl font-bold mt-5 text-center mb-5 dark:text-gray-800">{{ $frontBundle | title }}</h2>
    <div class="grid grid-cols-1 min-h-72 sm:grid-cols-2 mx-auto md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-4 mb-8 px-5">
      {{ range first 6 (where .Site.RegularPages.ByDate.Reverse "Type" $frontBundle)  }}
      <div class="rounded-lg w-full h-full ">
        {{- partial "blog-card.html" . -}}
      </div>
      {{ end }}
    </div>
  </div>
  {{ if gt (len (where .Site.RegularPages.ByDate.Reverse "Type" $frontBundle)) 6 }}
  <div class="text-center mb-8 mt-4">
    <a class='px-8 py-3 rounded transition-colors {{ default "bg-defaultColor" .Site.Params.ascentColor }} text-gray-100 hover:text-gray-800 dark:bg-gray-900 dark:text-gray-400 dark:hover:text-white' href="{{ lower (replace $frontBundle " " "-") | absLangURL }}" lang="{{ .Lang }}">
      {{ i18n "morePosts" }}
    </a>
  </div>
  {{ end }}
</div>

<div class="bg-gray-200 dark:bg-gray-700">
  {{ $frontBundle2 := .Site.Params.frontBundle2 | default "gallery" }}
  <div class="scroll-container pb-5">
    <h2 class="text-2xl font-bold mt-5 text-center text-gray-800 dark:text-gray-100">{{ $frontBundle2 | title }}</h2>
    <div class="scroll-content animation fade-in h-96 mb-5" id="animateMe2">
      {{ range first 9 (where .Site.RegularPages.ByDate.Reverse "Type" $frontBundle2) }}
      <div class="rounded-lg h-full mb-2">
        <div class="content hover transition duration-500 ease-in-out h-full">{{- partial "blog-card.html" . -}}</div>
      </div>
      {{ end }}
    </div>
  </div>





<!--<div class="grid md:grid-cols-1 gap-4 lg:gap-x-16">
    <div>
      {{ $frontBundle := .Site.Params.frontBundle | default "berita" }}
      <h2 class="text-2xl font-bold mt-6 text-center">{{ $frontBundle | title }}</h2>
      <div class="container p-6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8">
        {{ range first 6 (where .Site.RegularPages.ByDate.Reverse "Type" $frontBundle)  }}
          {{- partial "blog-card.html" . -}}
        {{ end }}
      </div>

      {{ if gt (len (where .Site.RegularPages.ByDate.Reverse "Type" $frontBundle)) 6 }}
      <div class="text-center mb-8">
        <a class="px-8 py-3 rounded transition-colors {{ .Site.Params.ascentColor | default "bg-pink-50" }}
          text-gray-500 hover:text-gray-800 dark:bg-gray-900 dark:text-gray-400 dark:hover:text-white"
          href="{{ (index (.Site.Menus.main) 0).URL | absLangURL }}" lang="{{ .Lang }}">
          {{ i18n "morePosts" }}
        </a>
      </div>
      {{ end }}
    </div>-->

<!--<div>
      {{ $frontBundle2 := .Site.Params.frontBundle2 | default "gallery" }}
      <h2 class="text-2xl font-bold mt-6 text-center dark:text-black">{{ $frontBundle2 | title }}</h2>
      <div class="container p-6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-1 lg:gap-1">
        {{ range first 6 (where .Site.RegularPages.ByDate.Reverse "Type" $frontBundle2)  }}
          {{- partial "blog-card.html" . -}}
        {{ end }}
      </div>
    </div>


    {{ if gt (len (where .Site.RegularPages.ByDate.Reverse "Type" $frontBundle2)) 6 }}
      <div class="text-center mb-8">
        <!--<a class="px-8 py-3 rounded transition-colors {{ .Site.Params.ascentColor | default "bg-pink-50" }}
          text-gray-500 hover:text-gray-800 dark:bg-gray-900 dark:text-gray-400 dark:hover:text-white"
          href="{{ (index (.Site.Menus.main) 0).URL | absLangURL }}" lang="{{ .Lang }}">
          {{ i18n "morePosts" }}
        </a>
      </div>
    {{ end }}
  </div>-->
  {{ $agenda := .Site.Params.agenda }}
  {{ if $agenda }}
  <div class="w-100">
    <h2 class="text-2xl font-bold mt-6 text-center text-gray-800 dark:text-gray-100">Agenda</h2>
    <div class="text-gray-800 dark:text-gray-100 p-6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8 ">
      {{ range first 6 $agenda }}
      <div class="dark:bg-gray-900 bg-white p-4 rounded-lg shadow-lg">
        <h3 class="font-bold text-lg">{{ .hari }}</h3>
        <p>{{ .lokasi }}</p>
        <p>{{ .jamMulai }} - {{ .jamSelesai }}</p>
        <p class="break-words overflow-auto">{{ .judul }}</p>
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}
</div>



  {{- partial "intro.html" . -}}
{{ end }}

